<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<mvc:annotation-driven /> <!-- mvc를 쓰는데있어서 필요한 객체 몇개를 한꺼번에 활성화시켜주는 태그 -->
	<mvc:default-servlet-handler/> 
	<context:component-scan base-package="controller" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<constructor-arg name="prefix" value="/WEB-INF/view/" />
		<constructor-arg name="suffix" value=".jsp" /> 
		<property name="order" value="3" />
	</bean>
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1" />
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="order" value="2" />
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-config.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- DBCP setting -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="ds">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="user" value="javas" />
		<property name="password" value="oracle" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.10.61:1521:xe" />
	</bean>
	<!-- mybatis setting -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="mapperLocations">
			<list>
				<value></value>
				<value></value>
				<value></value>
				<value></value>
				<value></value>
			</list>
		</property>
	</bean>
</beans>
