<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<select id="login" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from admin where id=#{id} and password=#{pass}
	</select>

	<select id="infoCount" resultType="java.lang.Integer">
		select count(*) from info
	</select>

	<select id="infoStatic" resultType="java.util.HashMap">
		select * from info
	</select>

	<select id="user" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from member where id = #{id}
	</select>

	<select id="member" resultType="java.util.HashMap">
		select * from (select * from
		member natural join info) natural join (select id, sum(point) as point
		from point group by id)
	</select>

	<delete id="userDelete" parameterType="java.lang.String">
		delete info where id =
		#{id}
	</delete>

	<select id="point" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from point where id = #{id}
	</select>

	<delete id="pointDel" parameterType="java.lang.Integer">
		delete from point where
		num=#{num}
	</delete>

</mapper>
