<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">
	<insert id="addCal" parameterType="java.util.HashMap">
		insert into calendar(id,title,cdate,ctime,num,color) values(#{id},#{title}, to_date(#{date},'YYYY/MM/DD'), 
		<choose><when test="time != '' and time != null">#{time}</when>
		<otherwise>null</otherwise></choose>, calendar_seq.nextval, #{color})
	</insert>
	<select id="getCal" resultType="java.util.HashMap" parameterType="java.lang.String">
		select c.*,  to_Char(c.cdate,'YYYY-MM-DD') CC from calendar c where id=#{id}
	</select>
	<update id="updateCal" parameterType="java.util.HashMap">
		update calendar set title=#{title}, cdate=#{date}, 
		<choose><when test="time != '' and time != null">ctime=#{time}</when>
		<otherwise>ctime=null</otherwise></choose>, color=#{color} where num=#{update} 
	</update>
	<delete id="deleteCal" parameterType="java.lang.Integer">
		delete from calendar where num=#{num}
	</delete>
</mapper>
