<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freetalk">
	<!-- 새글 등록시 -->
	<insert id="addNew" parameterType="java.util.HashMap">
		insert into freetalk values(freetalk_seq.nextval,  #{writer}, #{title}, #{content}, 0, sysdate)
	</insert>
	<!-- 특정 -->
	<select id="getTalks"  resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from ( select rownum as r, tmp.* from (select * from (select * from freetalk f left join 
(select num,count(*) as cnt from comments group by num) c on f.num = c.num)
			<choose><when test="arr != '' and arr != null"> where
		<foreach collection="arr" item="search" separator=" or " open="(" close=")">
			title like #{search} or content like #{search}
		</foreach>
		</when><when test="category != '' and category != null">
			where category=#{category}
		</when></choose>
		) tmp ) where r between #{start} and #{end}
	</select>
	<select id="countAll" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(*) from freetalk 
		<choose><when test="arr != '' and arr != null"> where
		<foreach collection="arr" item="search" separator=" or " open="(" close=")">
			title like #{search} or content like #{search}
		</foreach>
		</when></choose>
	</select>
	<select id="getOne" resultType="java.util.HashMap" parameterType="java.lang.Integer">
		select f.*, to_date(to_char(sysdate)) - writedate dd, sysdate-writedate diff from freetalk f where num=#{num}
	</select>
	<insert id="addComment" parameterType="java.util.HashMap">
		insert into comments values(comments_seq.nextval, #{num}, #{writer}, #{content}, sysdate)
	</insert>
	<select id="getComment" resultType="java.util.HashMap" parameterType="java.lang.Integer">
		select c.*, to_Char(c.WRITEDATE) FC from comments c where ft_num=#{num}
	</select>
	<insert id="loveUp" parameterType="java.util.HashMap">
		insert into love values(#{num}, #{id})
	</insert>
</mapper>