<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memo">
	<insert id="send" parameterType="java.util.HashMap">
		insert into memo values
		(MEMO_SEQ.NEXTVAL,#{id}, #{receiver}, #{ta}, sysdate, #{category})
	</insert>



	<select id="list" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from memo where ft_receiver = #{id} and ft_sender != #{id}
		ORDER by ft_num desc
	</select>

	<select id="mylist" parameterType="java.lang.String" resultType="java.util.HashMap">
		select from memo where ft_receiver = #{id } and ft_s0ender = #{id }
		ORDER by num desc
	</select>

	<select id="countAll" resultType="java.lang.Integer">
		select count(*) from memo
	</select>

	<select id="myCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from memo where ft_receiver = #{id } and
		ft_sender = #{id }
	</select>

	<select id="readCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		select count(*) from memo where category = '읽은쪽지'
	</select>




	<insert id="readMemo" parameterType="java.util.HashMap">
		insert into memo values
		(#{num},#{id},#{receiver}, #{ta}, #{date}, '읽은쪽지')
	</insert>

	<insert id="sMemo" parameterType="java.util.HashMap">
		insert into smemo values
		(#{num},#{id}, #{receiver}, #{ta}, #{date})
	</insert>

	<select id="saveCount" parameterType="java.lang.Integer">
		select count(*) from smemo
	</select>
	

	<delete id="delete" parameterType="java.util.HashMap">
		delete memo where ft_receiver = #{id} and
		<foreach collection="arr" item="num" separator=" or " open="("
			close=")">
			ft_num = #{num }
		</foreach>
	</delete>

	<delete id="saveDelete" parameterType="java.util.HashMap">
		delete smemo where ft_receiver = #{id} and
		<foreach collection="arr" item="num" separator=" or " open="("
			close=")">
			ft_num = #{num }
		</foreach>
	</delete>
</mapper>