<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="question">

	<!-- 새로 글 쓰기 -->
	<insert id="addNew" parameterType="java.util.HashMap">
		insert into questionboard() values
		(questionboard_seq.nextval, 
		#{writer},
		#{title}, #{content}, 0, sysdate)
	</insert>
	<update id="count" parameterType="java.util.HashMap">
		update questionboard set FT_like = #{like} + 1 where ft_num = #{num} 	
	</update>
	
	<select id="countAll" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(*) from questionboard 
		<choose><when test="arr != '' and arr != null"> where
		<foreach collection="arr" item="search" separator=" or " open="(" close=")">
			title like #{search} or content like #{search}
		</foreach>
		</when>
		</choose>
	</select>
	<!-- 글 쓰면서 그룹 스탭 카운트 올리기 -->
	<update id="addReply" parameterType="java.util.HashMap">
		update questionboard set ft_reply = #{reply} where ft_num = #{num}		
	</update>
		
	<!-- 글 리스트 가지고 오기 -->
	<select id="getAllTalks" parameterType="java.util.HashMap" resultType="java.util.HashMap">
			select t.*, to_date(to_char(sysdate))+1-ft_date as FT_DIFF from (select d.* from (select rownum as r, questionboard.* from questionboard 
			<choose><when test="arr != '' and arr != null"> where
		<foreach collection="arr" item="search" separator=" or " open="(" close=")">
			ft_title like #{search} or ft_content like #{search}
		</foreach>
		</when>
		</choose>
		order by ft_num desc)d  where r between #{start} and #{end})t
	</select>
	
	<!-- 한개만 가지고 오기 -->
	<select id="getOne" resultType="java.util.HashMap">
		select t.*, sysdate-ft_date as FT_DIFF from (select * from questionboard where
		ft_num=#{num })t
	</select>	

    <!-- 본인 글 삭제 -->
	<delete id="boardDel" parameterType="java.lang.Integer">
		delete from questionboard where ft_num =#{num}
	</delete>
</mapper>






















