<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="user">
	 	<select id="findMember" parameterType="java.lang.String" resultType="java.util.HashMap">
	 		select * from member where email=#{email}
	 	</select>
	 	<select id="idCheck" parameterType="java.lang.String" resultType="java.util.HashMap">
	 		select * from member where id=#{id}
	 	</select>
	 	<insert id="join_step1" parameterType="java.util.HashMap">
	 		insert into member values(#{id}, #{pass}, #{email}, sysdate, sysdate)
	 	</insert>
	 	<insert id="join_step2" parameterType="java.util.HashMap">
	 		insert into info values(#{id}, #{name, jdbcType=VARCHAR},
	 		#{gender, jdbcType=VARCHAR}, #{year, jdbcType=INTEGER},
	 		#{month, jdbcType=INTEGER}, #{day, jdbcType=INTEGER},0,0,0,0,0,0)
	 	</insert>
	 	<select id="login" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 		select * from member where id=#{id} and password=#{pass}
	 	</select>	 	
	 	<select id="userInfo" parameterType="java.lang.String" resultType="java.util.HashMap">
	 		select member.*, info.* from member join info 
     		on member.id=info.id where member.id=#{id}
	 	</select>
	 	<update id="info_step0" parameterType="java.util.HashMap">
	 		update member set email=#{email} where id=#{id}
	 	</update>
	 	<update id="info_step1" parameterType="java.util.HashMap">
	 		update member set email=#{email}, password=#{pass} where id=#{id}
	 	</update>
	 	<update id="info_step2" parameterType="java.util.HashMap">
	 		update info set name=#{name, jdbcType=VARCHAR}, gender=#{gender, jdbcType=VARCHAR},
	 		year=#{year, jdbcType=INTEGER}, month=#{month, jdbcType=INTEGER},
	 		day=#{day, jdbcType=INTEGER} where id=#{id}
	 	</update>
	 	<update id="logindate" parameterType="java.lang.String">
	 		update member set logindate = sysdate where id=#{id}
	 	</update>
	 	<delete id="userDelete" parameterType="java.lang.String">
	 		delete from member where id=#{id}
	 	</delete>
 </mapper>