<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="user">
	 	<select id="findMember" parameterType="java.lang.String" resultType="java.util.HashMap">
	 		select * from member where email=#{email}
	 	</select>
	 	<select id="idCheck" parameterType="java.lang.String" resultType="java.util.HashMap">
	 		select * from member where id=#{id}
	 	</select>
	 	<insert id="join_step1" parameterType="java.util.HashMap">
	 		insert into member values(#{id}, #{pass}, #{email})
	 	</insert>
	 	<insert id="join_step2" parameterType="java.util.HashMap">
	 		insert into info(id) values(#{id})
	 	</insert>
 </mapper>